
@{
    ViewBag.Title = "LogisticsHomePage";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style>


    div.IssueSel {
        border-style: solid;
        border-color: dodgerblue;
    }
</style>

<script language="javascript" type="text/javascript">

    window.history.forward();
</script>

@if (Session["UserName"] != null)
{

    @section Logisticshomeselection{

        <table style="width:100%;">
            <tr>
                <td>
                    &nbsp;
                    <div class="IssueSel">
                        <h2>Select an option below</h2>
                        <table style="width:20%;">
                            <tr><td><input style="height:50px;width:200px" id="Button1" type="button" onclick="location.href='/ExamTeam/LogisticsSupportIssuePage'" value="Create New Issue" /></td></tr>
                            <tr><td><input style="height:50px;width:200px" id="Button2" type="button" onclick="location.href='/LogisticsSupportTeam/LogisticsIssuePage'" value="Issues Inquiry" /></td></tr>
                            <tr>
                                <td><input id="Button3" type="button" onclick="location.href='@Url.Action("LogOutAction", "ExamTeam")'" value="LogOut" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    }
}
else
{
    < h2 > User Logged Out</ h2 >
}

