<style>
    .footer {
        background-color: #008CBA;
        width: 1900px;
        text-align: left;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        padding: 50px;
        margin-top: 50px;
    }

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


</style>
<footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
        <p class="about">
            <span> About the company</span>KSU aims to disseminate and promote knowledge in Saudi Arabia, widening its base of scientific and literary expertise, maintaining a competitive edge with other nations in the fields of Arts and Sciences, and contributing to discovery and invention. In addition, King Saud University strives to contribute to the revival of academic and scientific excellence of Islamic civilization and the articulation of its benefits and glories.
        </p>
        <div class="icons">
            <a href="https://www.facebook.com/King.Saud.University"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/_KSU"><i class="fa fa-twitter"></i></a>
            <a href="http://www.youtube.com/user/pdksuchannel"><i class="fa fa-youtube"></i></a>
            <a href="https://plus.google.com/110652947389607595274"><i class="fa fa-google-plus"></i></a>
           <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
        </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span> P. O. BOX 2454, Riyadh 11451</span> Riyadh, Saudi Arabia</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p> (+966) 1 4670888</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#"> info@ksu.edu.sa</a></p>
        </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
        <h2><img src="~/images/ksu_masterlogo.png" width="300" height="121" alt="" /></h2>
       <!-- <p class="menu">
            <a href="#"> Home</a> |
            <a href="#"> About</a> |
            <a href="#"> Services</a> |
            <a href="#"> Portfolio</a> |
            <a href="#"> News</a> |
            <a href="#"> Contact</a>
        </p> -->
        <p class="name"> King Saud University &copy; 2020</p>
    </div>
</footer>