<style>
    .center {
        margin: auto;
        width: 120%;
        # border: 5px solid #FFFF00;
        padding: 10px;
    }
</style>
<div class="center">
    <img src="~/images/ksu_masterlogo.png" width="300" height="121" alt="" />
</div>
<center><h1>Exam Team Management System</h1></center>

    <!-- <img src="~/images/ksu.png" width="300" height="400" />  -->


